
* {
  margin: 0;
  padding: 0;
  font-family:Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background: fixed;
    max-width: 100%;
    background-image:linear-gradient(to bottom,black 20%,#404040);
    transition: background-size 700ms ease-in-out, background-position-y 100ms ease-in
 }

@keyframes changeGradient {
  0% { 
    background-position: 50% 0%; 
 }
  50% { 
    background-position: 50% 70%;
  }
  100% {
    background-position: 50% 0%;
  }
  }
  
.Navbar {
  display: flex;           /* coloca os itens lado a lado */
  align-items: center;     /* alinha verticalmente no centro */
  justify-content: flex-start; 
  padding: 10px;
  position: fixed;
  background-color: black;
  border-radius: 30px;
  z-index: 200;
  margin-left: 30px;
  transition: transform 0.2s ease, opacity 0.4s ease; 
}
.Navbar.hidden {
  top: -100px; /* empurra a navbar pra fora da tela */
  transform: translateY(-120%); /* move  pra cima */
}

.container{
  display: flex;         
  align-items: center;     
}

.simbolo-ashez {
  width: 4vw; 
  height: auto;
  margin-right: 20px; 
}

.barra-pesquisa{
  display: flex;  
  width: 80vw;
  height: 40px;
  
}

.barra-pesquisa input {
  border-radius: 20px;
  flex: 1;
  color: white;
  background: black;
  border: none;
  padding-left: 18px;
}

.barra-pesquisa button {
  width: 100px;
  background-color: darkred;
  color: white;
  font-size: 12px;             
  font-weight: bold;                       
  border: none;                
  border-radius: 15px;         
  cursor: pointer;             
  transition: 0.3s ease; 
  margin-left: 3vw;
  
}
.barra-pesquisa button:hover {
  background-color: darkred;   
  transform: scale(1.05);     
}

.esconder{
  display: none;
}
/* RESULTADO PESQUISA */
.resultados-pesquisa {
    position: absolute;
    top: 70px; /* ajuste se necessário */
    left: 45%;
    transform: translateX(-50%);
    border-radius: 8px;
    display: none;
    z-index: 999;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    background: #bdc3c7;  /* fallback for old browsers */
    background: linear-gradient(to left, #13151a, #797979); 
}

.resultado-item {
    display: flex;
    
    align-items: center;
    padding: 8px; 
    gap: 40px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.resultado-item:hover {
  background: #000000;  /* fallback for old browsers */
  background: linear-gradient(to right, #474747, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.resultado-item img {
    width: 45%;
    height: auto;
    border-radius: 6px;
}


.usuario-btn {
  /* background: #fff; */
  border-radius: 60%;
  width: 40px;
  height: 40px;
  margin-left: 1vw;
  border: none;
  cursor: pointer;
  background-image: url(/imgGeral/userFoto.png);
  background-size: cover;
  

}
.username{
  display: flex;
  color: white;
}
.names{
  margin-top: 5px;
  margin-left: 10px;
}
/* Dropdown */
.dropdown {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  background-color: black;
  border-radius: 8px;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  overflow: hidden;
  padding: 15px;
  z-index: 2000;
}

.dropdown a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: white;
  background-color: #800000;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}

.dropdown a:hover {
  background-color: #b30000;
}

.show {
  display: block;
}
.footer-conteudo{
    display: flex;
    align-items: center; 
    text-align: center;
    gap: 8px;
}
footer {
  background-color: rgba(29, 26, 26, 0.1); 
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding: 15px 0;
  font-family: Arial, sans-serif;
  gap: 10px;
}
footer a {
  text-decoration: none; /* sem sublinhado */
  color: #ccc;           /* cor dos links */
  margin: 0 5px;
}

footer a:hover {
  color: #fff; /* muda de cor qunado passa o mouse */
}
.simbolo-footer{
      height: 5vh;
}
.icones img{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    transition: filter 0.3s ease;
    filter: invert(75%) sepia(20%) saturate(500%) hue-rotate(180deg) brightness(90%) contrast(85%);
}
/*AJUSTANDO TUDO PARA MOBILE*/

@media(max-width: 678px){
  /* navbar mobile */
  .Navbar{
    display: flex;           
    align-items: center;  
    justify-content: space-between;
    max-width: 100%;
  }
  .usuario-btn{
     width: 40px;
     height: 40px;
  }
  .simbolo-ashez{
    width: 10vw;
  }
  .button-pesquisa{
    display: none;
  }
  .barra-pesquisa{
    flex: 1;
    margin: 0 8px;
    max-width: 35%
  }
}