.carousel-container {
      position: relative;
      overflow: hidden;
      align-items: center;
      justify-content: center;
}

.carousel-track {
      display: flex;
      gap: 20px;
      transition: transform 0.90s ease;
      padding: 40px 0;
      cursor: pointer;
}

    
.carousel-slide {
      flex: 0 0 60%;
      background-color: darkred;
      height: 60vh; 
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
      transition: transform 0.3s ease, opacity 0.3s ease;
      box-shadow: 2vw 4vh 30px rgb(22, 22, 22);
}
    
.carousel-slide.shrink {
      flex: 0 0 20%;
      opacity: 0.6;
      transform: scale(0.85);
}
    @media (max-width: 768px) {
      .carousel-slide {
        flex: 0 0 80%;
      }
      .carousel-slide.shrink {
        flex: 0 0 20%;
      }
    }
.fundoCards{
  background-color: #363434;
  border-radius: 20px;
  padding: 20px 30px;
}
.titleSection{
  font-size: 130%;
  color: white;
}

/* cards de após o carousel */
.cards{
  display: flex;
}

.boxPrice{
  background-color: #363434;
  text-align: right;
  position: absolute;
  padding: 14px;
  text-align: right;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 1vw;
  z-index: 10;
}
.boxPricePromotion{
  position: absolute;
  background-color: #5bc251;;
  padding: 14px;
  text-align: right;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 1vw;
  z-index: 10;
}
/* CARDS DESTAQUES */

.imgsCard{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 1s ease;
  object-fit: cover;
}

.imgsCard:hover{
    transform: scale(1.100);
    filter: brightness(1.05);
}
.cardsHome{
  position: relative;
  justify-content: flex-start;
  color: white;
  width: 31vw;
  height: 33vh;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 15px;
  border-radius: 10px; 
  box-shadow: 1px 2vh 25px black;
  cursor: pointer;
  overflow: hidden;
  margin-right: 1vw;
}

.verMais{
  display: block;
  color: white;
  text-align: right;
  margin-top: 2vh;
  margin-right: 2vw;
  cursor: pointer;
  text-decoration: underline;
  
}

.container-card{
  width: 31VW;
  height: 30vh;
  display: flex;
  margin-top: 4vw;
  flex-direction: row;
}
.imgsCard-container{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 1s ease;
  object-fit: cover;
}
.pp{
  margin-left: 10px;
  color: gainsboro;
}



/* MODAL */
.modal{
  width: 85vw;
  height: 75vh;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease;
    margin: auto;
  
}

dialog[open]::backdrop {
    background: rgba(0, 0, 0, 0.5);

}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border-radius: 10px;
  background-color: #363434;
  border: none;
}

.modal {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;   
}
dialog.open .modal {
    opacity: 1;
    transform: scale(1);

}

.imgModal{
  height: 60vh;
  width: 40vw;
}

#fecharModal{
  padding: 1vw;
  margin-left: 95%;
  margin-top: 1%;
  border: none;
  background: (0,0,0,0,0);
}

.generos{
  margin-top: 2vw;
  background-color: #3B3937;
  border-radius: 1.5vw;
  padding: 1vw 1.5vw;
}
.iconeGenero{
  width: 25vw;
  margin-right: 1vw;
  cursor: pointer;
  margin-top: 5vw;
}
.boxGenero{
  color: white;
  font-size: 100%;
  display: block;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;
}
.generosContainer{
  display: flex;
  gap: 7vw;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*scrool*/
.generosScroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 5vw;
  padding: 1vw 0;
  scrollbar-width: none;
}

.generosScroll::-webkit-scrollbar {
  display: none;
}

/* Cada item */
.genero {
  flex: 0 0 5vw;
  text-align: center;
  width: 100%;
}
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5vw 0.7vw;
  border-radius: 0.5vw;
  z-index: 2;
  transition: background-color 0.3s;
  opacity: 1;
  transition: opacity 3s ease;
}

.scroll-btn[style*="display: none"] {
  opacity: 0;
  pointer-events: none;
}

.scroll-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}



.footer-conteudo{
    display: flex;
    align-items: center; 
    text-align: center;
    gap: 8px;
}
footer {
  background-color: rgba(29, 26, 26, 0.1); 
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding: 15px 0;
  font-family: Arial, sans-serif;
  gap: 10px;
}
footer a {
  text-decoration: none; /* sem sublinhado */
  color: #ccc;           /* cor dos links */
  margin: 0 5px;
}

footer a:hover {
  color: #fff; /* muda de cor qunado passa o mouse */
}
.simbolo-footer{
      height: 5vh;
}
.icones img{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    transition: filter 0.3s ease;
    filter: invert(75%) sepia(20%) saturate(500%) hue-rotate(180deg) brightness(90%) contrast(85%);
}
@media(max-width: 1000px){
  .titleSection{
    font-size: 100%;
  }
  .cards {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;      /* não empilha em várias linhas */
    overflow-x: auto;       /* permite rolar horizontalmente no celular */
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
  }

  #cardJogo{
    padding: 5px 6px;
    margin-right: 10px;
    scale: 85%;
    flex: 0 0 500px;        /* não encolhe/não cresce, largura 300px */
    box-sizing: border-box;
    min-height: 180px;
    border-radius: 8px;
  }

}