body{
 height: 100%;
    width: 100%;
    background:linear-gradient(to right, black 0.10%,#404040); 
    background-size: 170% 170%; 
    animation: changeGradient 3.2s ease infinite; 
    background-attachment: fixed; /* deixa fixo na tela */
    margin:0;
}

@keyframes changeGradient {
0% { 
  background-position: 50% 0% 80%; 
}
50% { 
  background-position: 50% 70%;
}
100% {
  background-position: 50% 0% 80%;
}

         
}
.Navbar {
  display: flex;           /* coloca os itens lado a lado */
  align-items: center;     /* alinha verticalmente no centro */
  justify-content: flex-start; 
  padding: 10px;
  position: fixed;
  background-color: black;
  border-radius: 30px;
  z-index: 200;
  margin-left: 30px;
  transition: transform 0.2s ease, opacity 0.4s ease; 
}
.Navbar.hidden {
  top: -100px; /* empurra a navbar pra fora da tela */
  transform: translateY(-120%); /* move  pra cima */
}

.simbolo-ashez {
  width: 4vw; 
  height: auto;
  margin-right: 20px; 
}

.barra-pesquisa{
  display: flex;  
  width: 80vw;
  height: 40px;
  
}

.barra-pesquisa input {
  border-radius: 20px;
  flex: 1;
  color: white;
  background: black;
  border: none;
  padding-left: 18px;
}

.barra-pesquisa button {
  width: 100px;
  background-color: darkred;
  color: white;
  font-size: 12px;             
  font-weight: bold;                       
  border: none;                
  border-radius: 15px;         
  cursor: pointer;             
  transition: 0.3s ease; 
  margin-left: 3vw;
  
}
.barra-pesquisa button:hover {
  background-color: darkred;   
  transform: scale(1.05);     
}
.usuario-btn {
  /* background: #fff; */
  border-radius: 60%;
  width: 40px;
  height: 40px;
  margin-left: 1vw;
  border: none;
  cursor: pointer;
  background-image: url(/imgGeral/userFoto.png);
  background-size: cover;
  

}
.username{
  display: flex;
  color: white;
}
.names{
  margin-top: 5px;
  margin-left: 10px;
}
/* Dropdown */
.dropdown {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  background-color: black;
  border-radius: 8px;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  overflow: hidden;
  padding: 15px;
  z-index: 2000;
}

.dropdown a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: white;
  background-color: #800000;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}

.dropdown a:hover {
  background-color: #b30000;
}

.show {
  display: block;
}



/* ===== CONTEÚDO ===== */
.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 120px 20px 40px; /* espaço pro navbar */
}

.card {
  background: #000000;
  border: 1px solid #8b0000;
  border-radius: 8px;
  width: 320px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(246, 5, 5, 0.4);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  margin: 5px 0 10px;
  font-weight: normal;
  color: #ffffff;
}

hr {
  border: none;
  border-top: 1px solid #8b0000;
  margin: 15px 0;
}

p {
  line-height: 1.5;
  font-size: 15px;
  color: #dddddd;
}